import /init.recovery.microtrust.rc

on init
    mkdir /mnt/vendor/persist 0700 root root
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist

on fs
    install_keyring

    start hwservicemanager
    start servicemanager

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    onrestart setprop hwservicemanager.ready false
    disabled
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore keystore /data
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
